name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run with debug logging enabled'
        type: boolean
        required: false
        default: false

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Rust toolchain
        shell: bash
        run: |
          rustup default stable
          rustup component add rustfmt clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab #v2.7.5

      - name: Lint
        run: make lint

      - name: Format check
        run: make fmt-check

      - name: Test (std)
        run: make test-std

      - name: Test (no-std)
        run: make test-no-std
